<!-- ############################################################################################# -->
<!-- ############################################################################################# -->
<!-- ############################################################################################# -->

<!-- Final Parte Preta -->
<!-- Final Parte Preta -->
<div class="grid grid-cols-5 p-6 items-center bg-gray-800">

    <div></div><!-- Div Da Esquerda Vazia -->
  
    <!-- Div Central Onde Vai Todo o Centeúdo -->
    <div class="col-span-5 text-white lg:col-span-3 space-y-4">
      <div class="flex">
          <div class="w-full">
            <p>
  
              NOME EMPRESARIAL: Igor Lemões
            </p>
            <p>
  
              NOME FANTASIA: Vídeo Machine Pro
            </p>
            <p>
  
              CPF: 004.864.090-58
            </p>
            <p>
              TELEFONE: <a href="{% url 'clientes:redirect_whatsapp' %}" class="underline">
              +55 51 99723-4827
              </a>
            </p>
            <p>
              E-MAIL: contato@igorlemoes.com.br
            </p>
  
          </div>
          <div class="lg:w-96 flex flex-col text-end content-end">
            <a href="{% url 'clientes:video_machine_pro' %}" class="underline">
            Início
            </a>
            <a href="{% url 'clientes:politicas' %}" class="underline">
            Políticas de privacidade
            </a>
            <a href="{% url 'clientes:termos' %}" class="underline">
            Termos de uso
            </a>
          </div>
      </div>
    </div><!-- Fim Div Central -->
  
    <div>
    </div><!-- Div Da Direita Vazia -->
  
  </div><!-- Fim Da Parte Preta -->