<!-- ############################################################################################# -->
<!-- ############################################################################################# -->
<!-- ############################################################################################# -->

<!-- Final Parte Preta -->
<!-- Final Parte Preta -->
<div class="grid grid-cols-5 p-6 items-center bg-gray-900">

    <div></div><!-- Div Da Esquerda Vazia -->
  
    <!-- Div Central Onde Vai Todo o Centeúdo -->
    <div class="col-span-5 text-white lg:col-span-3 space-y-4">
      <div class="flex">
          <div class="w-full">
            <p>
  
              NOME EMPRESARIAL: Denise Pons Machado
            </p>
            <p>
  
              NOME FANTASIA: Seguro & Protegido
            </p>
            <p>
  
              CNPJ: 42.937.688/0001-80
            </p>
            <p>
              <a href="{% url 'clientes:redirect_whatsapp' %}" class="underline">
              +55 51 99723-4827
              </a>
            </p>
            <p>
  
              contato@igorlemoes.com.br
            </p>
  
          </div>
          <div class="text-end content-end">
            <a href="{% url 'clientes:politicas' %}" class="underline">
            Políticas de privacidade
            </a>
            <a href="{% url 'clientes:termos' %}" class="underline">
            Termos de uso
            </a>
          </div>
      </div>
    </div><!-- Fim Div Central -->
  
    <div>
    </div><!-- Div Da Direita Vazia -->
  
  </div><!-- Fim Da Parte Preta -->