{% extends 'global/frontend.html' %}
{% load static %}

{% block titulo %}Termos de uso{% endblock titulo %}

{% block conteudo %}

<!-- ############################################################################################# -->
<!-- ############################################################################################# -->
<!-- ############################################################################################# -->

<!-- Final Parte Preta -->
<div class="grid grid-cols-5 p-6 min-h-screen items-center bg-gray-700">

  <div></div><!-- Div Da Esquerda Vazia -->

  <!-- Div Central Onde Vai Todo o Centeúdo -->
  <div class="col-span-5 text-white lg:col-span-3 space-y-4">

    <h1 class="text-3xl">Termos de uso</h1>

    <h3 class="text-2xl">1. Termos</h3>
    Ao acessar ao site Vídeo Machine Pro, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.

    <h3 class="text-2xl">2. Uso de Licença</h3>
    É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site Vídeo Machine Pro , apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode: 

    modificar ou copiar os materiais; 
    usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial); 
    tentar descompilar ou fazer engenharia reversa de qualquer software contido no site Vídeo Machine Pro; 
    remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou 
    transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor.
    Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por Vídeo Machine Pro a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais baixados em sua posse, seja em formato eletrónico ou impresso.

    <h3 class="text-2xl">3. Isenção de responsabilidade</h3>
    Os materiais no site da Vídeo Machine Pro são fornecidos 'como estão'. Vídeo Machine Pro não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.
    Além disso, o Vídeo Machine Pro não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ​​ou à confiabilidade do uso dos materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.
    <h3 class="text-2xl">4. Limitações</h3>
    Em nenhum caso o Vídeo Machine Pro ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Vídeo Machine Pro, mesmo que Vídeo Machine Pro ou um representante autorizado da Vídeo Machine Pro tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.

    <h3 class="text-2xl">5. Precisão dos materiais</h3>
    Os materiais exibidos no site da Vídeo Machine Pro podem incluir erros técnicos, tipográficos ou fotográficos. Vídeo Machine Pro não garante que qualquer material em seu site seja preciso, completo ou atual. Vídeo Machine Pro pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, Vídeo Machine Pro não se compromete a atualizar os materiais.

    <h3 class="text-2xl">6. Links</h3>
    O Vídeo Machine Pro não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por Vídeo Machine Pro do site. O uso de qualquer site vinculado é por conta e risco do usuário.



    <h3 class="text-xl">Modificações</h3>
    O Vídeo Machine Pro pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.

    <h3 class="text-xl">Lei aplicável</h3>
    Estes termos e condições são regidos e interpretados de acordo com as leis do Vídeo Machine Pro e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.
  
  </div><!-- Fim Div Central -->

  <div></div><!-- Div Da Direita Vazia -->

</div><!-- Fim Da Parte Preta -->

{% endblock conteudo %}