{% extends 'global/frontend.html' %}
{% load static %}

{% block titulo %}Igor Lemões{% endblock titulo %}

{% block pixel %}
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '5983431931696497');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=5983431931696497&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
{% endblock pixel %}

{% block conteudo %}
<!-- Topo Cinza Escuro -->
<div class="grid grid-cols-5 p-6 min-h-screen items-center bg-gray-800">

  <div></div><!-- Div Da Esquerda Vazia -->

  <!-- Div Central Onde Vai Todo o Centeúdo -->
  <div class="col-span-5 text-white lg:col-span-3 text-center content-center space-y-4">

    <div class="text-3xl font-bold">
      ATENÇÃO: <span class="bg-lime-400 text-black py-1 px-2">Veja Agora</span> Depois De Deixar A Faculdade De Engenharia, Desenvolvi Um Robô Capaz De Editar Lotes De Vídeos Em Poucos Minutos E De Forma Automática!
    </div>
    <div class="text-xl font-bold text-red-600">
      [Exclusivo] Vídeo Machine Pro, O Único Robô Que Te Permite Criar Mais De 100 Vídeos Por Dia
    </div>
    <div class="lg:mx-20">
      <div id="howToVideo" class="aspect-w-16 aspect-h-9">
        <iframe src="https://www.youtube.com/embed/8O0JFEKwrYw?rel=0&?version=3&fs=0&showinfo=0&loop=1&color=black&controls=0&modestbranding=1&playsinline=1&enablejsapi=1&playlist=8O0JFEKwrYw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text-2xl font-bold">
    <span class="text-lime-400">Se Você Pretende Aumentar O Seu Rítimo De Produção De Vídeos, E Liberar Tempo Para Outras Atividades Eu Posso Te Dar Mais Detalhes No WhatsApp</span>
    </div>
    <a class="flex justify-center p-4 text-xl uppercase bg-green-500 hover:bg-lime-400 text-white hover:text-black rounded-full" 
    href="https://api.whatsapp.com/send?phone=5551997234827&text=Quero%20saber%20mais%20sobre%20o%20rob%C3%B4%20que%20edita%20v%C3%ADdeos...">
      clique aqui para conversar comigo
    </a>

  </div><!-- Fim Div Central -->

  <div></div><!-- Div Da Direita Vazia -->

</div><!-- Fim Do Topo Cinza Escuro -->



<!-- ############################################################################################# -->
<!-- ############################################################################################# -->
<!-- ############################################################################################# -->

<!-- Final Parte Preta -->
<div class="grid grid-cols-5 p-6 min-h-screen items-center bg-black">

  <div></div><!-- Div Da Esquerda Vazia -->

  <!-- Div Central Onde Vai Todo o Centeúdo -->
  <div class="col-span-5 text-white lg:col-span-3 text-center content-center space-y-4">

    <img class="inline lg:w-1/3" src="{% static 'global/imgs/selo-de-qualidade.png' %}"/>

    <div>
      VOCÊ PODE EXPERIMENTAR O VÍDEO MACHINE PRÓ POR 7 DIAS, PARA COMPROVAR A FACILIDADE DE USO E VER O RESULTADO QUE VAI TER NESSE PERÍODO. SE POR QUALQUER RAZÃO VOCÊ NÃO GOSTAR OU SE ADAPTAR, NOS ENVIE UM E-MAIL DENTRO DESSE PERÍODO QUE SIMPLESMENTE DEVOLVEMOS 100% DO VALOR QUE VOCÊ PAGOU. VOCÊ NÃO CORRE NENHUM UM RISCO EM TESTAR.
    </div>

    <div>
      APROVEITE AGORA ESTA OPORTUNIDADE E COMECE A PRODUZIR VÍDEOS EM MASSA HOJE MESMO. OS RESULTADOS SÓ DEPENDEM DE SUA DECISÃO.
    </div>

    <div class="font-bold text-red-600">
      COMPRA 100% SEGURA
    </div>
    <a class="flex justify-center p-4 text-xl uppercase bg-green-500 hover:bg-lime-400 text-white hover:text-black rounded-full" 
    href="https://api.whatsapp.com/send?phone=5551997234827&text=Quero%20saber%20mais%20sobre%20o%20rob%C3%B4%20que%20edita%20v%C3%ADdeos...">
      clique aqui para conversar comigo
    </a>

  </div><!-- Fim Div Central -->

  <div></div><!-- Div Da Direita Vazia -->

</div><!-- Fim Da Parte Preta -->

{% endblock conteudo %}